@page "/About"

@inherits RazorComponentBase;

<div class="page-header">
    <h3>About</h3>
</div>

<p></p>

<table>
    @if (IsDeveloper)
    {
        <tr>
            <td><strong>API:</strong></td>
            <td>@AboutInfo.API</td>
        </tr>
        <tr>
            <td><strong>Database:</strong></td>
            <td>@AboutInfo.Database</td>
        </tr>
        <tr>
            <td><strong>BackupBucket:</strong></td>
            <td>@AboutInfo.BackupBucket</td>
        </tr>
        <tr>
            <td><strong>DocumentBucket:</strong></td>
            <td>@AboutInfo.DocumentBucket</td>
        </tr>
        <tr>
            <td><strong>TmpFilesBucket:</strong></td>
            <td>@AboutInfo.TmpFilesBucket</td>
        </tr>
    }
</table>

