@page "/Matches"
@using AnglingClubShared.DTOs
@using AnglingClubShared.Entities
@using AnglingClubShared.Enums
@using AnglingClubShared.Models
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Grids
@using Microsoft.AspNetCore.Authorization
@using static AnglingClubWebsite.Pages.MatchesViewModel
@inherits MvvmComponentBase<MatchesViewModel>

<AuthorizationRequired>
    <div style="display: block !important; padding-bottom: 10px;">
        <h3 class="left-header">Matches</h3>

        <SeasonSelector OnSeasonChanged="@(async (season) => await ViewModel.SeasonChanged(season))"></SeasonSelector>

    </div>
    <br />

    <BusyIndicator IsReady="@ViewModel.DataLoaded"></BusyIndicator>

    @if (ViewModel.DataLoaded)
    {
        <p>You can see more details of each match and the results by selecting the match.</p>

        <SfTab ID="Tab" EnablePersistence="false" SelectedItem="ViewModel.SelectedTab">
            <TabEvents Selected="OnTabSelected"></TabEvents>
            <TabItems>
                @foreach (MatchTabData Item in ViewModel.MatchTabItems)
                {
                    <TabItem>
                        <HeaderTemplate>
                            @if (ViewModel.BrowserSize == DeviceSize.Small)
                            {
                                <div>@(Item.HeaderBrief)</div>
                            }
                            else
                            {
                                <div>@(Item.HeaderFull)</div>
                            }

                        </HeaderTemplate>
                    </TabItem>
                }
            </TabItems>
        </SfTab>

        <div class="matches grid-shrinkwrap">
            <SfGrid @ref="Grid" DataSource="@ViewModel.Matches" AllowSorting="true" AllowFiltering="false" AllowTextWrap="false">
                <GridEvents DataBound="DataboundHandler" QueryCellInfo="QueryCellInfoHandler" RowSelected="MatchSelectedHandler" TValue="ClubEvent"></GridEvents>
                <GridFilterSettings Type="@Syncfusion.Blazor.Grids.FilterType.Excel" />
                <GridSelectionSettings Type="@Syncfusion.Blazor.Grids.SelectionType.Single" Mode="@Syncfusion.Blazor.Grids.SelectionMode.Row"></GridSelectionSettings>
                <GridTextWrapSettings WrapMode="WrapMode.Content" />

                <GridColumns>
                    <GridColumn Field=@nameof(ClubEvent.Date) HeaderText="Date" Format="dd MMM yy" Type="Syncfusion.Blazor.Grids.ColumnType.Date" />
                    <GridColumn Field=@nameof(ClubEvent.Time) Visible="@ViewModel.IsTimeVisible()" HeaderText="Time" />
                    <GridColumn Field=@nameof(ClubEvent.Description) HeaderText="Venue" CustomAttributes="@(new Dictionary<string, object>() { { "class", "e-wrap" } })" />
                    <GridColumn Field=@nameof(ClubEvent.Cup) Visible="@ViewModel.IsCupVisible()" HeaderText="Cup" CustomAttributes="@(new Dictionary<string, object>() { { "class", "e-wrap" } })" />
                    <GridColumn Field=@nameof(ClubEvent.Number) HeaderText="No" Format="N0" TextAlign="TextAlign.Right" />
                </GridColumns>

            </SfGrid>

        </div>

        <div>
            <SfDialog IsModal="true" Visible="@ViewModel.ShowingResults" CssClass="match-dialog" >
                @if (ViewModel.GlobalService.IsEmbedded)
                {
                    <DialogPositionData X="center" Y="top"></DialogPositionData>
                }
                <DialogTemplates>
                    <Header>Match Details</Header>
                    <Content>
                        <div class="match-results">
                            @if (ViewModel.CurrentUser.Admin && ViewModel.ResultsLoaded && ViewModel.MatchResults.Any())
                            {
                                <div style="float: right;">
                                    <SfCheckBox Label="Show peg" @bind-Checked="@ViewModel.ShowPeg"></SfCheckBox>
                                </div>
                                <br />
                            }
                            @if (ViewModel.BrowserPortrait)
                            {
                                <table class="match-table">
                                    <tr><td class="label">Match:</td><td>@ViewModel.SelectedMatch!.MatchType No. @ViewModel.SelectedMatch!.Number</td></tr>
                                    <tr><td class="label">Date:</td><td>@ViewModel.SelectedMatch!.Day @ViewModel.SelectedMatch!.Date.ToString("dd MMM yy")</td></tr>
                                    <tr><td class="label">Venue:</td><td>@ViewModel.SelectedMatch!.Description</td></tr>
                                    @if (!ViewModel.SelectedMatch!.Cup.IsWhiteSpace())
                                    {
                                        <tr><td class="label">Cup:</td><td>@ViewModel.SelectedMatch!.Cup</td></tr>
                                    }
                                </table>
                            }
                            else
                            {
                                <table class="match-table">
                                    <tr><td class="label">Match:</td><td>@ViewModel.SelectedMatch!.MatchType No. @ViewModel.SelectedMatch!.Number</td><td class="label">Venue:</td><td>@ViewModel.SelectedMatch!.Description</td></tr>
                                    <tr>
                                        <td class="label">Date:</td>
                                        <td>@ViewModel.SelectedMatch!.Day @ViewModel.SelectedMatch!.Date.ToString("dd MMM yy")</td>
                                        @if (!ViewModel.SelectedMatch!.Cup.IsWhiteSpace())
                                        {
                                            <td class="label">Cup:</td>
                                            <td>@ViewModel.SelectedMatch!.Cup</td>
                                        }
                                    </tr>
                                </table>
                            }
                            <br />
                            <h3>Results</h3>
                            <BusyIndicator IsReady="@ViewModel.ResultsLoaded"></BusyIndicator>
                            @if (ViewModel.ResultsLoaded)
                            {
                                @if (ViewModel.MatchResults.Any())
                                {
                                    <table class="match-table">
                                        <thead>
                                            <tr>
                                                <th class="left-align">Pos</th>
                                                <th class="left-align">Name</th>
                                                @if (ViewModel.ShowPeg)
                                                {
                                                    <th class="right-align">Peg</th>
                                                }
                                                <th class="left-align col-weight">Weight</th>
                                                <th class="center-align">Pts</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var r in ViewModel.MatchResults)
                                            {
                                                <tr>
                                                    <td class="left-align"><nobr>@r.PositionOrdinal</nobr></td>
                                                    <td class="left-align">@r.Name</td>
                                                    @if (ViewModel.ShowPeg)
                                                    {
                                                        <td class="right-align">@r.Peg</td>
                                                    }
                                                    <td class="left-align col-weight">@r.Weight</td>
                                                    <td class="center-align">@r.Points</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <p>Sorry, not available</p>
                                }
                            }
                        </div>
                    </Content>
                </DialogTemplates>
                <DialogButtons>
                    <DialogButton Content="Close" IsPrimary="true" OnClick="(() => ViewModel.ShowingResults = false)" />
                </DialogButtons>
            </SfDialog>
        </div>

    }
</AuthorizationRequired>

<style>


</style>

    @code {
    private SfGrid<ClubEvent>? Grid; 
    private SfGrid<MatchResultOutputDto>? ResultsGrid;

    private bool _autoFitDone = false;

    public void OnTabSelected(SelectEventArgs args)
    {
        var selected = ViewModel.MatchTabItems.ToArray()[args.SelectedIndex].MatchType;
        Console.WriteLine($"Selected item: {args.SelectedIndex} - {selected}");
        ViewModel.SelectedMatchType = selected;
        ViewModel.LoadMatchesForSelectedType();
    }

    public async Task DataboundHandler(object args)
    {
        await this.Grid!.AutoFitColumnsAsync();
    }

    public void QueryCellInfoHandler(Syncfusion.Blazor.Grids.QueryCellInfoEventArgs<ClubEvent> args)
    {
        var match = args.Data;

        if (match.InThePast)
        {
            args.Cell.AddClass(new string[] { "date-past" });
        }
        else
        {
            args.Cell.AddClass(new string[] { "date-future" });
        }
    }

    public void MatchSelectedHandler(RowSelectEventArgs<ClubEvent> args)
    {
        _autoFitDone = false;
        ViewModel.ShowResults(args.Data);
    }

}
