@page "/Matches"
@using AnglingClubShared.DTOs
@using AnglingClubShared.Entities
@using AnglingClubShared.Enums
@using AnglingClubShared.Models
@using Microsoft.AspNetCore.Components.QuickGrid
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Grids
@using Microsoft.AspNetCore.Authorization
@using static AnglingClubWebsite.Pages.MatchesViewModel
@using AnglingClubShared.Extensions
@inherits MvvmComponentBase<MatchesViewModel>

<AuthorizationRequired>
    <div class="page-header">
        <h3 class="left-header">Matches</h3>

        <SeasonSelector OnSeasonChanged="ViewModel.SeasonChanged" />
    </div>

    <BusyIndicator IsReady="@ViewModel.DataLoaded"></BusyIndicator>

    @if (ViewModel.DataLoaded)
    {
        <p>You can see more details of each match and the results by selecting the match.</p>

        <SfTab ID="Tab" EnablePersistence="false" SelectedItem="ViewModel.SelectedTab">
            <TabEvents Selected="OnTabSelected"></TabEvents>
            <TabItems>
                @foreach (MatchTabData Item in ViewModel.MatchTabItems)
                {
                    <TabItem>
                        <HeaderTemplate>
                            @if (ViewModel.BrowserSize == DeviceSize.Small)
                            {
                                <div>@(Item.HeaderBrief)</div>
                            }
                            else
                            {
                                <div>@(Item.HeaderFull)</div>
                            }

                        </HeaderTemplate>
                    </TabItem>
                }
            </TabItems>
        </SfTab>
        <QuickGrid Items="ViewModel.MatchesQueryable" Class="bdac-table">

            <TemplateColumn Title="Date" IsDefaultSortColumn="true" Sortable="true" SortBy="@MatchesViewModel.SortByDate">
                <ChildContent Context="row">
                    <BdacGridCell TItem="ClubEvent"
                                    Item="row"
                                    AdditionalClass="@ViewModel.CellClass(row)"
                                    OnSelect="ViewModel.MatchSelectedHandler">
                        <span class="nowrap">@row.Date.BdacDate()</span>
                    </BdacGridCell>
                </ChildContent>
            </TemplateColumn>

            <TemplateColumn Title="Venue">
                <ChildContent Context="row">
                    <BdacGridCell TItem="ClubEvent"
                                    Item="row"
                                    AdditionalClass="@ViewModel.CellClass(row)"
                                    OnSelect="ViewModel.MatchSelectedHandler">
                        @row.Description
                    </BdacGridCell>
                </ChildContent>
            </TemplateColumn>

            @if (ViewModel.IsCupVisible())
            {
                <TemplateColumn Title="Cup">
                    <ChildContent Context="row">
                        <BdacGridCell TItem="ClubEvent"
                                        Item="row"
                                        AdditionalClass="@ViewModel.CellClass(row)"
                                        OnSelect="ViewModel.MatchSelectedHandler">
                            @row.Cup
                        </BdacGridCell>
                    </ChildContent>
                </TemplateColumn>
            }

            <TemplateColumn Title="No" Align="Align.Right">
                <ChildContent Context="row">
                    <BdacGridCell TItem="ClubEvent"
                                    Item="row"
                                    AdditionalClass="@ViewModel.CellClass(row)"
                                    OnSelect="ViewModel.MatchSelectedHandler">
                        @row.Number!.Value.ToString("N0")
                    </BdacGridCell>
                </ChildContent>
            </TemplateColumn>

        </QuickGrid>

        @* Note the 2-way binding of the Visible property *@
        <MatchResultsPopup @bind-Visible="ViewModel.ShowingResults" SelectedMatch="@ViewModel.SelectedMatch"></MatchResultsPopup>

    }
</AuthorizationRequired>

<style>


</style>

    @code {
    public void OnTabSelected(SelectEventArgs args)
    {
        var selected = ViewModel.MatchTabItems.ToArray()[args.SelectedIndex].MatchType;
        Console.WriteLine($"Selected item: {args.SelectedIndex} - {selected}");
        ViewModel.SelectedMatchType = selected;
        ViewModel.LoadMatchesForSelectedType();
    }

}
