@page "/StandingsWeights"
@using AnglingClubShared.Enums
@using AnglingClubShared.Models
@using AnglingClubWebsite.Models
@using Microsoft.AspNetCore.Components.QuickGrid

@inherits RazorComponentBase;

<AuthorizationRequired>

    <div class="page-header">
        <h3 class="left-header">Aggregate Weights</h3>

        <SeasonSelector OnSeasonChanged="SeasonChanged" />
    </div>

    <BusyIndicator IsReady="@TabsLoaded"></BusyIndicator>

    @if (TabsLoaded)
    {
        <p>
            You can see more detailed results by selecting the row.<br />
            @AboutInfo
        </p>

        @if (MatchTabItems.Any())
        {
            <SfTab ID="Tab" EnablePersistence="false" @bind-SelectedItem="SelectedTab">
                <TabEvents Selected="OnTabSelected"></TabEvents>
                <TabItems>
                    @foreach (TabData Item in MatchTabItems)
                    {
                        <TabItem>
                            <HeaderTemplate>
                                @if (BrowserSize == DeviceSize.Small)
                                {
                                    <div>@(Item.HeaderBrief)</div>
                                }
                                else
                                {
                                    <div>@(Item.HeaderFull)</div>
                                }

                            </HeaderTemplate>
                        </TabItem>
                    }
                </TabItems>
            </SfTab>
            <BusyIndicator IsReady="@StandingsLoaded"></BusyIndicator>

            if (StandingsLoaded)
            {
                <QuickGrid Items="AggWeightsQueryable" Class="bdac-table no-click">

                    <TemplateColumn Title="Pos">
                        <ChildContent Context="row">
                            <BdacGridCell TItem="AggregateWeight"
                                          Item="row"
                                          AdditionalClass="bdac-rowcell"
                                          OnSelect="AnglerSelectedHandler">
                                @row.PositionOrdinal
                            </BdacGridCell>
                        </ChildContent>
                    </TemplateColumn>

                    <TemplateColumn Title="Name">
                        <ChildContent Context="row">
                            <BdacGridCell TItem="AggregateWeight"
                                          Item="row"
                                          AdditionalClass="bdac-rowcell"
                                          OnSelect="AnglerSelectedHandler">
                                @row.Name
                            </BdacGridCell>
                        </ChildContent>
                    </TemplateColumn>

                    <TemplateColumn Title="Weight">
                        <ChildContent Context="row">
                            <BdacGridCell TItem="AggregateWeight"
                                          Item="row"
                                          AdditionalClass="bdac-rowcell"
                                          OnSelect="AnglerSelectedHandler">
                                @row.Weight
                            </BdacGridCell>
                        </ChildContent>
                    </TemplateColumn>

                    @if (AggWeights!.First().MatchesInSeason > 0)
                    {
                        <TemplateColumn Title="Wt Dropped" Align="Align.Right">
                            <ChildContent Context="row">
                                <BdacGridCell TItem="AggregateWeight"
                                              Item="row"
                                              AdditionalClass="bdac-rowcell"
                                              OnSelect="AnglerSelectedHandler">
                                    @row.DroppedWeight
                                </BdacGridCell>
                            </ChildContent>
                        </TemplateColumn>
                    }

                </QuickGrid>

                @* Note the 2-way binding of the Visible property *@
                <AggResultsPopup @bind-Visible="ShowingResults"
                                 MembershipNumber="SelectedMembershipNumber"
                                 AggregateType="SelectedAggType"
                                 Season="SelectedSeason"
                                 BasedOnPoints="false"
                                 AggregateName="@MatchTabItems.First(x => x.AggregateType == SelectedAggType).HeaderFull">
                </AggResultsPopup>
            }
        }
        else
        {
            <p>No matches available</p>
        }

    }

</AuthorizationRequired>


