@page "/StandingsLeague"
@using AnglingClubShared.Enums
@using AnglingClubShared.Models
@using AnglingClubWebsite.Models
@using Microsoft.AspNetCore.Components.QuickGrid

@inherits RazorComponentBase;

<AuthorizationRequired>

    <div class="page-header">
        <h3 class="left-header">League Standings</h3>

        <SeasonSelector OnSeasonChanged="SeasonChanged" />
    </div>

    <BusyIndicator IsReady="@TabsLoaded"></BusyIndicator>

    @if (TabsLoaded)
    {
        <p>The drop-2 info can go here if applicable</p>

        <SfTab ID="Tab" EnablePersistence="false" @bind-SelectedItem="SelectedTab">
            <TabEvents Selected="OnTabSelected"></TabEvents>
            <TabItems>
                @foreach (TabData Item in MatchTabItems)
                {
                    <TabItem>
                        <HeaderTemplate>
                            @if (BrowserSize == DeviceSize.Small)
                            {
                                <div>@(Item.HeaderBrief)</div>
                            }
                            else
                            {
                                <div>@(Item.HeaderFull)</div>
                            }

                        </HeaderTemplate>
                    </TabItem>
                }
            </TabItems>
        </SfTab>
        <QuickGrid Items="SeasonStandingsQueryable" Class="bdac-table">

            <TemplateColumn Title="Pos">
                <ChildContent Context="row">
                    <BdacGridCell TItem="LeaguePosition"
                                  Item="row"
                                  AdditionalClass="bdac-rowcell">
                        @row.PositionOrdinal
                    </BdacGridCell>
                </ChildContent>
            </TemplateColumn>

            <TemplateColumn Title="Name">
                <ChildContent Context="row">
                    <BdacGridCell TItem="LeaguePosition"
                                  Item="row"
                                  AdditionalClass="bdac-rowcell">
                        @row.Name
                    </BdacGridCell>
                </ChildContent>
            </TemplateColumn>

            @if (ShowWeight)
            {
                <TemplateColumn Title="Weight">
                    <ChildContent Context="row">
                        <BdacGridCell TItem="LeaguePosition"
                                      Item="row"
                                      AdditionalClass="bdac-rowcell">
                            @row.Weight
                        </BdacGridCell>
                    </ChildContent>
                </TemplateColumn>
            }

            <TemplateColumn Title="Pts" Align="Align.Right">
                <ChildContent Context="row">
                    <BdacGridCell TItem="LeaguePosition"
                                  Item="row"
                                  AdditionalClass="bdac-rowcell">
                        @row.Points
                    </BdacGridCell>
                </ChildContent>
            </TemplateColumn>
        </QuickGrid>

    }

</AuthorizationRequired>


