@using AnglingClubShared.Enums;
@using AnglingClubShared.Extensions;

@inherits RazorComponentBase

<SfDialog IsModal="true" Visible="@Visible" CssClass="bdac-dialog" >
    <DialogTemplates>
        <Header>Match Details</Header>
        <Content>
             <div class="bdac-smaller">
                @if (CurrentUser.Admin && _resultsLoaded && _matchResults.Any())
                {
                    <div style="float: right;">
                        <SfCheckBox Label="Show peg" @bind-Checked="@_showPeg"></SfCheckBox>
                    </div>
                    <br />
                }
                @if (_browserService.IsPortrait)
                {
                    <table class="match-table">
                        <tr><td class="label">Match:</td><td>@SelectedMatch!.MatchType No. @SelectedMatch!.Number</td></tr>
                        <tr><td class="label">Date:</td><td>@SelectedMatch!.Day @SelectedMatch!.Date.BdacDate()</td></tr>
                        <tr><td class="label">Venue:</td><td>@SelectedMatch!.Description</td></tr>
                        @if (!SelectedMatch!.Cup.IsWhiteSpace())
                        {
                            <tr><td class="label">Cup:</td><td>@SelectedMatch!.Cup</td></tr>
                        }
                    </table>
                }
                else
                {
                    <table class="match-table">
                        <tr><td class="label">Match:</td><td>@SelectedMatch!.MatchType No. @SelectedMatch!.Number</td><td class="label">Venue:</td><td>@SelectedMatch!.Description</td></tr>
                        <tr>
                            <td class="label">Date:</td>
                            <td>@SelectedMatch!.Day @SelectedMatch!.Date.BdacDate()</td>
                            @if (!SelectedMatch!.Cup.IsWhiteSpace())
                            {
                                <td class="label">Cup:</td>
                                <td>@SelectedMatch!.Cup</td>
                            }
                        </tr>
                    </table>
                }
                <br />
                <h3>Results</h3>
                <BusyIndicator IsReady="@_resultsLoaded"></BusyIndicator>
                @if (_resultsLoaded)
                {
                    @if (_matchResults.Any())
                    {
                        <table class="bdac-simple-table">
                            <thead>
                                <tr>
                                    <th class="left-align">Pos</th>
                                    <th class="left-align">Name</th>
                                    @if (SelectedMatch.MatchType != MatchType.OSU)
                                    {
                                        @if (_showPeg)
                                        {
                                            <th class="right-align">Peg</th>
                                        }
                                        <th class="left-align col-weight">Weight</th>
                                    }
                                    <th class="right-align">Pts</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var r in _matchResults)
                                {
                                    <tr>
                                        <td class="left-align"><nobr>@r.PositionOrdinal</nobr></td>
                                        <td class="left-align">@r.Name</td>
                                        @if (SelectedMatch.MatchType != MatchType.OSU)
                                        {
                                            @if (_showPeg)
                                            {
                                                <td class="right-align">@r.Peg</td>
                                            }
                                            <td class="left-align col-weight">@r.Weight</td>
                                        }
                                        <td class="right-align">@r.Points</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p>Sorry, not available</p>
                    }
                }
            </div> 
        </Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton Content="Close" IsPrimary="true" OnClick="CloseAsync" />
    </DialogButtons>
</SfDialog>
