@inject NavigationManager NavigationManager
@inject HostBridge HostBridge // TODO Ang to Blazor Migration - only needed until migation complete
@inherits MvvmLayoutComponentBase<AppViewModel>

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData"
                    DefaultLayout="@GetDefaultLayout()">
                <NotAuthorized>
                    <LayoutView Layout="@typeof(MainLayout)">
                        <p>You are not authorized to access this resource.</p>
                    </LayoutView>
                </NotAuthorized>
                <Authorizing>
                    <LayoutView Layout="@typeof(MainLayout)">
                        <p>Authorizing...</p>
                    </LayoutView>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

<SfMediaQuery @bind-ActiveBreakpoint="activeBreakpoint" OnBreakpointChanged="OnBreakpointChanged"></SfMediaQuery>

@code {
    // TODO Ang to Blazor Migration - only needed until migation complete
    private Type GetDefaultLayout()
    {
        var uri = new Uri(NavigationManager.Uri);
        var query = uri.Query ?? string.Empty;

        // Use EmbeddedLayout when called from Angular iframe: /new/...?...embedded=true
        return query.Contains("embedded=true", StringComparison.OrdinalIgnoreCase)
            ? typeof(EmbeddedLayout)    // content-only
            : typeof(MainLayout);       // normal shell
    }

    
    protected override async Task OnInitializedAsync()
    {
        await ViewModel.InitRefData();
        await HostBridge.InitializeAsync(); // TODO Ang to Blazor Migration - only needed until migation complete
    }

    /* TODO Ang to Blazor Migration - HTML looked like this before adding GetDefaultLayout()
      <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    */ 

    private string activeBreakpoint { get; set; } = "";

    protected override void OnInitialized()
    {
        SfMediaQuery.Small.MediaQuery = "(max-width: 768px)";
        SfMediaQuery.Medium.MediaQuery = "(min-width: 768px)";
        SfMediaQuery.Large.MediaQuery = "(min-width: 1280px)";
        base.OnInitialized();
    }

    public async Task OnBreakpointChanged(BreakpointChangedEventArgs args)
    {
        // await Task.Delay(0);

        await ViewModel.SetupBrowserDetails();

        // mobile = activeBreakpoint == "Small" || activeBreakpoint == "Medium";

    }

}
